
@model ShoppingCartViewModel


@if (Model.shoppingCart.ShoppingCartItems.Count()>0)
{
   <h3 class="my-5 text-center">
    Shopping cart 🛒🛒
   </h3> 
}else{
    <br />
    <br />}

<div class="row gx-3">
    <div class="col-8">
        @if(Model.shoppingCart.ShoppingCartItems.Count()<1){
            <h2 class="text-center">Cart is empty</h2>
             <b class="text-hight-50"><a asp-controller="home">Shop First 😅😅</a></b>
            <img src="~/Images/empty.png" height="500" />
        }
        @foreach (var line in Model.shoppingCart.ShoppingCartItems)
        {
            <div class="card shopping-cart-card mb-2">
                <div class="row">
                    <div class="col-md-4">
                        <img src="@line.pie.ImageThumbnailUrl" class="img-fluid rounded-start p-2" alt="@line.pie.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-text">@line.Amount x @line.pie.Name</h5>
                            <div class="d-flex justify-content-between">
                                <h6>@line.pie.ShortDescription</h6>
                                <h2>@line.pie.Price.ToString("c")</h2>
                            </div>
                        </div>
                        <div class="row-3">
                            <a class="btn btn-secondary"
                           asp-controller="ShoppingCart" 
                           asp-action="RemoveFromShoppingCart" 
                           asp-route-PieId="@line.pie.PieId">Remove</a>

                            <a class="btn btn-secondary"
                           asp-controller="ShoppingCart"
                           asp-action="AddToShoppingCart"
                           asp-route-PieId="@line.pie.PieId">Add More</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-4">
        <div class="card shopping-cart-card p-3">
            <div class="row">
                <h4 class="col">Total:</h4>
                <h4 class="col text-end">@Model.ShoppingCartTotal.ToString("c")</h4>
            </div>
            <hr />
            <div class="text-center d-grid">
                @if(Model.shoppingCart.ShoppingCartItems.Count()>0){
                    <a class="btn btn-secondary" asp-controller="Order"
                   asp-action="Checkout"><h4>Check out now! </h4></a>}
                
            </div>
        </div>
    </div>
</div>
